body{
   font-family: 'Poppins';
    background-color: rgba(21, 17, 17, 0.967);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    padding:30px ;
    height: 250px;
    width: 300px;
    background-color: rgb(209, 209, 223);
    border-radius: 5px;
}
button{
    background-color: rgb(41, 41, 223);
    border-radius: 5px; 
   color: white;
   padding: 10px;
   /* height: 30px;
   width: 80px; */
   cursor: pointer;
}
button:hover{
    background-color: rgb(37, 18, 131);
}
h2{
    text-align: center;
   text-decoration: blue;
}
form{
    display: body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f4f8;
div{
   height: 250px;
   width: 300px;
   background-color:#acf04b;
   border-radius: 5px;
   padding: 10px;
} 
h2{
    text-align: center;
    color: white;
}
button{
    color: white;
    border-radius: 5px;
    background-color: #28a745;
}
button:hover{
    background-color: #15e13e;
    cursor: pointer;
}
input{
   padding: 5px;
   border-radius: 5px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}flex;
    flex-direction: column;
    gap: 5px;
}
input{
    margin-bottom: 15px;
    padding: 10px ;
    border-radius: 5px;
}